<!--
# WEB: 
# Filtro: Selección de tienda
# Filtro: Estado publicaciones
# Filtro: Está en GBP / No está en GBP
# Filtro: Proveedor
# Otros posibles filtros: tipo publicación, flex, retiro, garantía
# Selección de campos a traer con checkbox
# Botón TRAER PUBLICACIONES
-->


<!doctype html>

{% extends "base.html" %}

{% block title %}
Gestión de Publicaciones ML
{% endblock %}

{% block content %}

<div class="col pl-md-5 pt-md-5">
    <h4>Gestión Publicaciones</h4>

    <div class="shadow p-3 mb-2 bg-light text-dark rounded">
        <form action="" method="post">
        <!--- CONFIGURACIÓN DE LA CONSULTA -->
    
        <div>
        <div>
            <h4>Filtros</h4>
            <div class="row align-items-center">
                {% for filter in head_filters.filters %}
                    <div class="form-group shadow-sm">
                        <div class="col">
                            <h6>{{ filter.name }}</h6>
                            {% for option in filter.options %}
                                <div class="form-check form-check-inline">
                                    <input class="{{ option.input_class }}" type="{{ option.input_type }}" name="{{ filter.option_name }}" id="{{ option.input_option_id }}" value="{{ option.input_value }}" {{ option.input_state }}>
                                    <label class="{{ option.label_class }}" for="{{ option.label_for }}">{{ option.name }}</label>
                                </div>      
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    
        
            <div class="form-group shadow-sm">
                <div>
                    <h4>Campos</h4>
                    <div class="col">
                        {% for field in head_fields.options %}
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="{{head_fields.option_name}}" id="{{field.input_option_id}}" value="{{field.input_value}}" {{field.input_state}}>
                            <label class="form-check-label" for="{{field.label_for}}">{{field.name}}</label>
                        </div>
                        {% endfor %}

                    </div>   
                </div> 
            </div>          
        

        
            <div class="form-group shadow-sm">
                <div><h4>Configuración</h4></div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="configCheckboxOptions" id="delete_button" value="delete_button">
                        <label class="form-check-label" for="delete_button">Habilitar Botón Borrar Publicación</label>
                    </div>
                </div>
            </div>
        
    

        <!-- botón BUSCAR -->
        <input type="submit" class="btn btn btn-outline-dark btn-sm" id="search" name="search" value="Buscar Publicaciones" />
        </form>
    </div>
</div>


<!-- RESULTADO DE CONSULTA -->

<div class="col pl-md-0 pt-md-5">
    <!-- AGREGAR LOGICA PARA SEPARAR POR TIENDA-->
    <ul>
        {% if items %}
    
        <h5>{{ items_len }} publicaciones ML</h5>        
        <table class="table">
            <thead>
              <tr>
                    {% for col in item_columns %}
                        <th scope="col">{{ col }}</th>
                    
                    <!--
                    <th scope="col">#</th>
                    <th scope="col">ID ML</th>
                    <th scope="col">Título</th>
                    <th scope="col">SKU</th>
                    -->
                    {% endfor %}
              </tr>
            </thead>
            <tbody>
                {% for row in items %}
                  <tr>
                    {% for field in row %}
                    <td scope="row">{{ field }}</td>
                    

                    {% endfor %}

                  </tr>
                {% endfor %}


            </tbody>
          </table>

            

        {% endif %}
    </ul>
    </div>
</div>

{% endblock %}
