<!--
# WEB: 
# Filtro: Selección de tienda
# Filtro: Estado publicaciones
# Filtro: Está en GBP / No está en GBP
# Filtro: Proveedor
# Otros posibles filtros: tipo publicación, flex, retiro, garantía
# Selección de campos a traer con checkbox
# Botón TRAER PUBLICACIONES
-->


<!doctype html>

{% extends "base.html" %}

{% block title %}
Gestión de Publicaciones ML
{% endblock %}

{% block content %}

<div class="col pl-md-5 pt-md-5">
    <h4>Gestión Publicaciones</h4>

    <div class="shadow p-3 mb-2 bg-light text-dark rounded">
        <form action="" method="post">
        <!--- CONFIGURACIÓN DE LA CONSULTA -->
    
        <div>
        <div>
            <h4>Filtros</h4>

            <div class="row align-items-center">

                <div class="form-group shadow-sm">
                    <div class="col"><h6>Tienda</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigSeller" id="tecnorium" value="tecnorium" checked>
                            <label class="form-check-label" for="tecnorium">Tecnorium</label>
                        </div>                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigSeller" id="celestron" value="celestron" >
                            <label class="form-check-label" for="tecnorium">Celestron</label>
                        </div>                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigSeller" id="lenovo" value="lenovo" >
                            <label class="form-check-label" for="lenovo">Lenovo</label>
                        </div>       
                    </div>
                </div>

                <div class="form-group shadow-sm">
                    <div class="col">
                        <div><h6>Estado</h6></div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigState" id="active" value="active" checked>
                            <label class="form-check-label" for="active">Activas</label>
                        </div>         
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigState" id="paused" value="paused">
                            <label class="form-check-label" for="paused">Pausadas</label>
                        </div>      
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigState" id="inactive" value="inactive">
                            <label class="form-check-label" for="inactive">Inactive</label>
                        </div> 
                    </div>
                </div>

                <div class="form-group shadow-sm">
                    <div class="col">
                        <h6>Está en GBP</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="queryConfigIsInGbp" id="in_gbp" value="in_gbp" checked>
                            <label class="form-check-label" for="in_gbp">Si</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="queryConfigIsInGbp" id="not_in_gbp" value="not_in_gbp" checked>
                            <label class="form-check-label" for="not_in_gbp">No</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="form-group shadow-sm">
                    <div class="col">
                        <h6>Proveedor</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="queryConfigSuppliers" id="microglobal" value="microglobal" checked>
                            <label class="form-check-label" for="inlineCheckbox1">Microglobal</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="queryConfigSuppliers" id="goldmund" value="goldmund" >
                            <label class="form-check-label" for="goldmund">Goldmund</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="queryConfigSuppliers" id="liliana" value="liliana" >
                            <label class="form-check-label" for="liliana">Liliana</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="queryConfigSuppliers" id="goris" value="goris" >
                            <label class="form-check-label" for="goris">Goris</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="queryConfigSuppliers" id="bowie" value="bowie" disabled>
                            <label class="form-check-label" for="bowie">Bowie</label>
                          </div>                      
                    </div>
                </div>
            </div>

        </div>
        <!-- Otros posibles filtros: tipo publicación, flex, retiro, garantía -->
        <!-- Otros campos: variación (id, sku, atributos, costo envío promedio -->
    
        
            <div class="form-group shadow-sm">
                <div>
                    <h4>Campos</h4>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigFields" id="item_ml_id" value="item_ml_id" checked>
                            <label class="form-check-label" for="item_ml_id">ID ML</label>
                          </div>        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigFields" id="item_title" value="item_title" checked>
                            <label class="form-check-label" for="item_title">Título</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigFields" id="item_price" value="item_price">
                            <label class="form-check-label" for="item_price">Precio</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigFields" id="sku" value="sku">
                            <label class="form-check-label" for="sku">SKU</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigFields" id="thumb" value="thumb">
                            <label class="form-check-label" for="thumb">Foto</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigFields" id="link" value="link">
                            <label class="form-check-label" for="link">Link</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="requestConfigFields" id="variations" value="variations">
                            <label class="form-check-label" for="variations">Variaciones</label>
                        </div>
                    </div>   
                </div> 
            </div>          
        

        
            <div class="form-group shadow-sm">
                <div><h4>Configuración</h4></div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="configCheckboxOptions" id="delete_button" value="delete_button">
                        <label class="form-check-label" for="delete_button">Habilitar Botón Borrar Publicación</label>
                    </div>
                </div>
            </div>
        
    

        <!-- botón BUSCAR -->
        <input type="submit" class="btn btn btn-outline-dark btn-sm" id="search" name="search" value="Buscar Publicaciones" />
        </form>
    </div>
</div>


<!-- RESULTADO DE CONSULTA -->

<div class="col pl-md-0 pt-md-5">
    <!-- AGREGAR LOGICA PARA SEPARAR POR TIENDA-->
    <ul>
        {% if items %}
    
        <h5>Publicaciones ML</h5>
        
        <table class="table">
            <thead>
              <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID ML</th>
                    <th scope="col">Título</th>
                    <th scope="col">SKU</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>MLA111111</td>
                <td>Access Point Profesional Allied Telesis Tqm5403 Ac 3 Bandas</td>
                <td>AT-TQM5403-00</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>MLA2222222</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>MLA33333</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
            

        {% endif %}
    </ul>
    </div>
</div>

{% endblock %}
